/* Profile Picture Section */
.profile-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-image-preview {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    cursor: pointer;
}

.profile-image-preview img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.edit-icon {
    position: absolute;
    bottom: 12px;
    right: 40px;
    font-size: 25px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;

}

.set-default {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.set-default input {
    margin-right: 5px;
}

.revert-btn {
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.dashed-border {
    border: 2px dashed #ccc;
    padding: 40px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.upload-icon {
    font-size: 48px; /* Adjust icon size */
    color: #673ab7; /* Indigo color for icon */
    margin-bottom: 10px;
}

.upload-icon ion-icon {
    width: 100%;
}

.upload-text {
    color: #757575; /* Gray text color */
    margin-bottom: 10px;
}

.file-size-info {
    color: #9e9e9e; /* Lighter gray for file size info */
    font-size: 14px;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100; /* Lower than upload-popup */
}

.upload-popup {
    z-index: 1500; /* Ensure it's above the overlay */

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    overflow: hidden;
}

#errorPopup {
    display: none;
}