{% extends 'mainapp/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'mainapp/css/password-reset-form.css' %}">

{% endblock %}

{% block content %}

<div class="reset-password-container">
    <div class="reset-password-content">
        <h2>Password Reset Request Sent</h2>
        <p>If your email address is associated with an account, we’ve sent you an email with instructions on how to
            reset your password.</p>
        <p><a href="{% url 'auth' %}">Back to login</a></p>

    </div>
</div>
{% endblock %}