{% extends 'mainapp/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'mainapp/css/password-reset-form.css' %}">

{% endblock %}


{% block content %}

<div class="reset-password-container">
    <div class="reset-password-content">
        <h2>Enter New Password</h2>
        <p>Enter a new password to complete the reset process.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change my password</button>
        </form>

        <p><a href="{% url 'auth' %}">Back to login</a></p>

    </div>
</div>
{% endblock %}