{% extends 'mainapp/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'mainapp/css/password-reset.css' %}">

{% endblock %}


{% block content %}

<div class="reset-password-container content-pd-t70">
    <div class="reset-password-content">
        <div class="password-confirm">
            <h2>Enter New Password</h2>
            <p>Enter a new password to complete the reset process.</p>
    
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit">Change my password</button>
            </form>
    
            <p><a href="{% url 'auth' %}">Back to login</a></p>
        </div>


    </div>
</div>
{% endblock %}