<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One</title>
</head>
<body>
    <h1>Pass data from server to html</h1>
    <br>
<!-- pass var -->
    <h1>Title : {{ title }}</h1>
    <p>Summary : {{ summary }}</p>
    <h4>Year : {{ year }}</h4>
    {% if sucess %}
        <h5 color="Green">Yes</h5>
    {% else %}
    <h5 color="Red">No</h5>
    {% endif %}

    <br><hr><br>
<!-- for lop -->
    {% for movie_obj in movies %}
        <h1>Title : {{ movie_obj.title }}</h1>
        <p>Summary : {{ movie_obj.summary }}</p>
        <h4>Year : {{ movie_obj.year }}</h4>
        <h4 style="display:inline;">Success status :
            {% if movie_obj.success %}
                <h5 style="color:green; display:inline"> Success</h5>
            {% else %}
            <h5 style="color:red; display:inline"> Falied</h5>
            {% endif %}
        </h4>
    {% endfor %}
</body>
</html>