<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic 1 Main</title>
    <style>
        div {
            /* text-align: center; */
            background-color: rgb(195, 250, 16);
            display: flex;
            /* align-items: center; */
            justify-content: space-around;
            padding: 10px;
        }

        li {
            list-style: none;
        }
        a {
           text-decoration: none;
           color: white;
           font-size: 20px;
        }
    </style>
</head>
<body>
    <div>
        <li><a href="http://127.0.0.1:8000/admin">Admin</a></li>
        <li><a href="http://127.0.0.1:8000/test-hello">test-hello</a></li>
        <li><a href="http://127.0.0.1:8000/hello">hello</a></li>
        <li><a href="http://127.0.0.1:8000/one">one</a></li>
           
    </div>
</body>
</html>