{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %} Book Your Ride {% endblock %}

{% block head %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<style>
 
 .main {
    width: 100%;
    margin: 100px 0 0 0;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    height: 100dvh;
 }


</style>
{% endblock %}

{% block content %}

<div class="main">
 
    <input type="text" id="date-picker" />
        
    <script>
            flatpickr("#date-picker", {
                dateFormat: "d/m/Y", // MM/DD/YYYY format
                defaultDate: "10/01/2025", // Default date
            });
    </script>
    
</div>

{% endblock %}