
body {
    background: linear-gradient(to right, #141e30, #243b55);
}
.body-div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.reset-password-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 20px 20px;
}

.reset-password-content {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    color: white;
padding: 25px 25px 0px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.reset-password-content h2 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.reset-password-content p {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 1rem;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

.form-group input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(79, 172, 254, 0.8);
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s, background 0.3s;
}

button[type="submit"]:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}

.field-error {
    color: #ff0606;
    text-align: center;
    padding: 3px;
    font-size: 15px;
}

p a {
    color: #ff416c;
    text-align: center;
    display: block;
    margin-top: 20px;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}

/* password-reset-confirm */

.password-confirm h2 {
    margin-bottom: 10px;
}
    .password-confirm p {
    margin-bottom: 10px;
    }
    .password-confirm .form-group input {
    padding: 8px;
    font-size: 18px;
    }

    .password-confirm li {
        font-size: 13px;
        text-align: left;
        }
    .content-pd-t70 {
        padding-top: 70px;
    }


@media screen and (max-width: 550px) {

    .reset-password-content h2 {
        font-size: 1.3em;
        margin-bottom: 10px;
        }
        .reset-password-content p {
        margin-bottom: 10px;
        font-size: 0.9rem;
        }
        .reset-password-content {
        padding: 20px 20px 5px;
        }
        .form-group input {
        font-size: 15px;
        }
        button[type="submit"] {
        font-size: 15px;
        }

    
}